Repository looplanguage/loop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: picasso lint, vinci lint, sanzio lint, loop check, picasso check, vinci check, sanzio check, picasso test, vinci test, sanzio test

Path conditions:
  picasso lint: any of: src/picasso/**/*
  vinci lint: any of: src/vinci/**/*
  sanzio lint: any of: src/sanzio/**/*
  loop check: any of: loop/*
  picasso check: any of: src/picasso/**/*
  vinci check: any of: src/vinci/**/*
  sanzio check: any of: src/sanzio/**/*
  picasso test: any of: src/picasso/**/*
  vinci test: any of: src/vinci/**/*
  sanzio test: any of: src/sanzio/**/*

tweak: refactord code
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_conditional.rs
  src/picasso/src/compiler/compile/statement_constant_declaration.rs
  src/picasso/src/parser/expression/loops.rs
  src/picasso/src/parser/test/test_helper.rs
  test.loop
Due: picasso lint, picasso check, picasso test

fix: not implicit return
  .gitignore
  src/picasso/src/compiler/compile/expression_call.rs
  std.dll
  test.loop
Due: picasso lint, picasso check, picasso test

feat: function calling parsing
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/parser/expression/index.rs
Due: picasso lint, picasso check, picasso test

fix: removed extension test
  tests/end2end_test.py
Due: none

feat: dll import arc compilation
  src/picasso/src/compiler/compile/expression_call.rs
Due: picasso lint, picasso check, picasso test

feat(vinci, sanzio): lib calling
  src/sanzio/src/lib.rs
  src/vinci/src/ast/instructions/function.rs
  src/vinci/src/ast/instructions/mod.rs
  src/vinci/src/parser/instruction/function.rs
  src/vinci/src/types/mod.rs
Due: vinci lint, sanzio lint, vinci check, sanzio check, vinci test, sanzio test

feat: end2end test libloading
  tests/end2end_test.py
  tests/std.dll
  tests/test_import_lib.loop
Due: none

feat: std.so in test folder
  tests/std.dll
  tests/std.so
Due: none

tweak: formatting
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/parser/expression/index.rs
  src/vinci/src/parser/instruction/function.rs
Due: picasso lint, vinci lint, picasso check, vinci check, picasso test, vinci test

fix: formatting vinci
  src/vinci/src/parser/instruction/function.rs
  std.dll
Due: vinci lint, vinci check, vinci test

fix: removed dll
  std.dll
Due: none

tweak: process PR feedback
  .gitignore
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/parser/expression/index.rs
  src/sanzio/src/lib.rs
Due: picasso lint, sanzio lint, picasso check, sanzio check, picasso test, sanzio test

fix: correct lib for testing
  std.dll
  tests/std.so
Due: none

fix: provide extension as luajit will attempt to use searchpaths for libraries
  src/sanzio/src/lib.rs
Due: sanzio lint, sanzio check, sanzio test

feat: class methods
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/expression/function.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/types.rs
Due: picasso lint, picasso check, picasso test

fix: defining fields after a method didn't work & function name check as methods aren't their own var
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/parser/statement/class.rs
Due: picasso lint, picasso check, picasso test

feat: constructors
  src/picasso/src/compiler/compile/expression_call.rs
  tests/test_classes.loop
Due: picasso lint, picasso check, picasso test

feat: extend base types
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/mod.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lexer/token.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/extends.rs
  src/picasso/src/parser/statement/mod.rs
  tests/test_extend_types.loop
Due: picasso lint, picasso check, picasso test

fix: allow any depth class returns and calls
  src/picasso/src/compiler/compile/expression_index.rs
  tests/test_classes.loop
Due: picasso lint, picasso check, picasso test

feat(std): start of std
  .gitignore
  std.dll
  std/README.md
  std/std.rs
Due: none

feat: inheritance
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/parser/statement/class.rs
Due: picasso lint, picasso check, picasso test

chore: fmt
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/parser/statement/class.rs
Due: picasso lint, picasso check, picasso test

chore: clippy
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/statement/extends.rs
  src/picasso/src/parser/types.rs
  tests/end2end_test.py
Due: picasso lint, picasso check, picasso test

tests: add e2e tests for classes & type extension
  tests/end2end_test.py
  tests/test_classes.loop
  tests/test_extend_types.loop
Due: none

chore: clippy
  src/picasso/src/parser/statement/extends.rs
Due: picasso lint, picasso check, picasso test

tweak: fix tests
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/test/tests.rs
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

tweak: fix auto return types
  src/picasso/src/compiler/mod.rs
Due: picasso lint, picasso check, picasso test

tweak: use different build image
  .gitlab-ci.yml
Due: none

chore: clippy/fmt
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

feat: support lazy initializers
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/statement/extends.rs
  src/picasso/src/parser/types.rs
  tests/test_classes_lazy.loop
Due: picasso lint, picasso check, picasso test

test: lazy classes
  tests/end2end_test.py
  tests/test_classes_lazy.loop
Due: none

fix: overwriting methods
  src/picasso/src/compiler/compile/statement_class.rs
Due: picasso lint, picasso check, picasso test

chore: fmt/clippy
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/types.rs
Due: picasso lint, picasso check, picasso test

fix: conditional compilation
  src/picasso/src/exception/syntax.rs
Due: picasso lint, picasso check, picasso test

fix: tests
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

chore: fmt
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

tweak: make variable resolving part of the compiler
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_variable_assign.rs
  src/picasso/src/compiler/mod.rs
Due: picasso lint, picasso check, picasso test

feat: importing Loop packages
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/export.rs
  src/picasso/src/parser/types.rs
  tests/package.loop
  tests/test_import_export.loop
Due: picasso lint, picasso check, picasso test

tweak: add test & run cargo fmt
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/parser/statement/export.rs
  src/picasso/src/parser/types.rs
  tests/end2end_test.py
Due: picasso lint, picasso check, picasso test

feat: support array methods
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/parser/expression/index.rs
  src/sanzio/src/lib.rs
Due: picasso lint, sanzio lint, picasso check, sanzio check, picasso test, sanzio test
