Repository looplanguage/loop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: picasso lint, vinci lint, sanzio lint, loop check, picasso check, vinci check, sanzio check, picasso test, vinci test, sanzio test

picasso lint:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: lint
  script:
  - cd src/picasso/
  - - .lint_test
    - script

vinci lint:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: lint
  script:
  - cd src/vinci/
  - - .lint_test
    - script

sanzio lint:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: lint
  script:
  - cd src/sanzio/
  - - .lint_test
    - script

loop check:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: check
  script:
  - - .check
    - script

picasso check:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: check
  script:
  - cd src/picasso/
  - - .check
    - script

vinci check:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: check
  script:
  - cd src/vinci/
  - - .check
    - script

sanzio check:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: check
  script:
  - cd src/sanzio/
  - - .check
    - script

picasso test:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: test
  script:
  - cd src/picasso/
  - - .test
    - script

vinci test:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: test
  script:
  - cd src/vinci/
  - - .test
    - script

sanzio test:
  image: rust:1.61.0
  before_script:
  - rustup component add rustfmt
  - rustup component add clippy
  stage: test
  script:
  - cd src/sanzio/
  - - .test
    - script

tweak: fix
  src/sanzio/src/lib.rs
Due: sanzio lint, sanzio check, sanzio test

fix(sanzio): ffi returns, feat: extra examples
  #test.loop#
  examples/docker_creation.loop
  examples/timer.loop
  src/main.rs
  src/sanzio/src/lib.rs
  std/README.md
  std/std.rs
Due: sanzio lint, sanzio check, sanzio test

fix: removed file
  #test.loop#
Due: none

feat(sanzio): Errors thrown for FFI erros
  src/sanzio/src/exception.rs
  src/sanzio/src/lib.rs
Due: sanzio lint, sanzio check, sanzio test

feat(sanzo): better exceptions for ffi
  Cargo.lock
  scripts/lint.py
  src/sanzio/Cargo.lock
  src/sanzio/Cargo.toml
  std.dll
Due: sanzio lint, sanzio check, sanzio test

fix: returning compounds from functions
  src/picasso/src/compiler/compile/expression_function.rs
  tests/end2end_test.py
  tests/package.loop
  tests/test_import_export.loop
Due: picasso lint, picasso check, picasso test

chore: clippy
  src/main.rs
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/statement/export.rs
  src/sanzio/src/lib.rs
Due: picasso lint, sanzio lint, picasso check, sanzio check, picasso test, sanzio test

fix: support imports in imports
  src/lib/repl.rs
  src/lib/util.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/lib.rs
Due: picasso lint, picasso check, picasso test

fix: clippy
  src/lib/repl.rs
  src/lib/util.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/lib.rs
Due: picasso lint, picasso check, picasso test

tweak: remove debug prints
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/lib.rs
Due: picasso lint, picasso check, picasso test

fix: declaring variables after an array didn't work
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
  src/picasso/src/compiler/variable_table.rs
  tests/test_import_export.loop
Due: picasso lint, picasso check, picasso test

chore: format
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
Due: picasso lint, picasso check, picasso test

tweak: additional error
  src/picasso/src/parser/expression/function.rs
Due: picasso lint, picasso check, picasso test

tweak: remove serde dependency
  Cargo.lock
  Cargo.toml
  src/lib/config/mod.rs
  src/lib/repl.rs
Due: none

tweak: use nightly
  .gitlab-ci.yml
  src/lib/config/mod.rs
  src/lib/repl.rs
Due: none

tweak: typo
  .gitlab-ci.yml
Due: none

tweak: use new Loop image
  .gitlab-ci.yml
Due: none

tweak: try different image
  .gitlab-ci.yml
Due: none

tweak: fix typo
  src/sanzio/src/lib.rs
Due: sanzio lint, sanzio check, sanzio test

fix(tests): import path ffi
  src/sanzio/src/exception.rs
  test.loop
  tests/test_import_lib.loop
Due: sanzio lint, sanzio check, sanzio test

feat: indexing of string
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/exception/compiler.rs
  src/sanzio/src/lib.rs
Due: picasso lint, sanzio lint, picasso check, sanzio check, picasso test, sanzio test

feat: use "pub" keyword instead of using exports
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_constant_declaration.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/modifiers.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/exception/compiler.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lexer/token.rs
  src/picasso/src/parser/expression/function.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/test/tests.rs
  src/picasso/src/parser/types.rs
Due: picasso lint, picasso check, picasso test

chore: clippy/fmt
  scripts/lint.py
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_constant_declaration.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/modifiers.rs
  src/picasso/src/compiler/variable_table.rs
  src/picasso/src/exception/compiler.rs
  src/picasso/src/parser/expression/function.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/test/tests.rs
  src/picasso/src/parser/types.rs
Due: picasso lint, picasso check, picasso test

tweak: remove debug print
  src/picasso/src/compiler/compile/expression_function.rs
Due: picasso lint, picasso check, picasso test

test: update to new pub keyword
  tests/package.loop
Due: none

fix: test_helper didn't contain new field
  src/picasso/src/parser/test/test_helper.rs
Due: picasso lint, picasso check, picasso test

fix: classes work again with indexing, tests added
  src/picasso/src/compiler/compile/expression_index.rs
  src/sanzio/src/lib.rs
  src/vinci/src/ast/instructions/memory.rs
  src/vinci/src/types/mod.rs
  tests/end2end_test.py
  tests/test_string_index.loop
Due: picasso lint, vinci lint, sanzio lint, picasso check, vinci check, sanzio check, picasso test, vinci test, sanzio test

fix: added type check for ffi function calling
  src/sanzio/src/lib.rs
Due: sanzio lint, sanzio check, sanzio test

fix(cicd): copied file
  .gitlab-ci.yml
Due: none

tweak: remove test.loop & ignore test files
  .gitignore
  test.loop
Due: none

tweak: remove exports
  src/picasso/src/compiler/compile/mod.rs
  src/picasso/src/compiler/compile/statement_export.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/export.rs
  src/picasso/src/parser/statement/mod.rs
Due: picasso lint, picasso check, picasso test

tweak: rename "add" to "push"
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/parser/expression/index.rs
Due: picasso lint, picasso check, picasso test

tweak: use doc entries
  src/picasso/src/exception/compiler.rs
Due: picasso lint, picasso check, picasso test

docs: document enter/exit location
  src/picasso/src/compiler/mod.rs
Due: picasso lint, picasso check, picasso test

tweak: remove unused variable
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
Due: picasso lint, picasso check, picasso test

tweak: document dry compilation
  src/picasso/src/compiler/mod.rs
Due: picasso lint, picasso check, picasso test

tweak: document colon usage
  src/picasso/src/compiler/compile/expression_identifier.rs
Due: picasso lint, picasso check, picasso test

tweak: document compile_expression_function
  Cargo.lock
  src/picasso/Cargo.toml
  src/picasso/src/compiler/compile/expression_function.rs
Due: picasso lint, picasso check, picasso test

tweak: rename variable to symbol for accuracy
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/expression_loop.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_constant_declaration.rs
  src/picasso/src/compiler/compile/statement_variable_assign.rs
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/symbol_table.rs
Due: picasso lint, picasso check, picasso test

tweak: remove unused functions
  src/picasso/Cargo.lock
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/expression_loop.rs
  src/picasso/src/compiler/mod.rs
Due: picasso lint, picasso check, picasso test

Path conditions:
  picasso lint: any of: src/picasso/**/*
  vinci lint: any of: src/vinci/**/*
  sanzio lint: any of: src/sanzio/**/*
  loop check: any of: loop/*
  picasso check: any of: src/picasso/**/*
  vinci check: any of: src/vinci/**/*
  sanzio check: any of: src/sanzio/**/*
  picasso test: any of: src/picasso/**/*
  vinci test: any of: src/vinci/**/*
  sanzio test: any of: src/sanzio/**/*
