Repository looplanguage/loop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: picasso lint, vinci lint, sanzio lint, loop check, picasso check, vinci check, sanzio check, picasso test, vinci test, sanzio test

Path conditions:
  picasso lint: any of: src/picasso/**/*
  vinci lint: any of: src/vinci/**/*
  sanzio lint: any of: src/sanzio/**/*
  loop check: any of: loop/*
  picasso check: any of: src/picasso/**/*
  vinci check: any of: src/vinci/**/*
  sanzio check: any of: src/sanzio/**/*
  picasso test: any of: src/picasso/**/*
  vinci test: any of: src/vinci/**/*
  sanzio test: any of: src/sanzio/**/*

tweak: update mlua & remove rand dependency
  Cargo.lock
  src/sanzio/Cargo.lock
  src/sanzio/Cargo.toml
  src/vinci/Cargo.lock
  src/vinci/Cargo.toml
Due: vinci lint, sanzio lint, vinci check, sanzio check, vinci test, sanzio test

feat: allow public classes in modules
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/class.rs
Due: picasso lint, picasso check, picasso test

fix: library loading now uses indexing instead of strings
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/parser/test/tests.rs
  src/sanzio/src/lib.rs
Due: picasso lint, sanzio lint, picasso check, sanzio check, picasso test, sanzio test

tweak: remove unused imports from tests
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

feat: string and array slicing by index thingy, reimplemented indexing on string
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lexer/token.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/expression/mod.rs
  src/sanzio/src/lib.rs
  tests/end2end_test.py
  tests/test_array_slice.loop
  tests/test_string_slice.loop
Due: picasso lint, sanzio lint, picasso check, sanzio check, picasso test, sanzio test

fix(clippy): removed import
  src/picasso/src/compiler/compile/expression_index.rs
Due: picasso lint, picasso check, picasso test

tweak(picasso): Cleaned up the code, added some comments
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/parser/expression/index.rs
Due: picasso lint, picasso check, picasso test

fix: LOOP-199
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/mod.rs
Due: picasso lint, picasso check, picasso test

fix: use Result instead of a custom result type
  src/picasso/src/compiler/compile/expression_array.rs
  src/picasso/src/compiler/compile/expression_bool.rs
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_conditional.rs
  src/picasso/src/compiler/compile/expression_float.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_hashmap.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/expression_integer.rs
  src/picasso/src/compiler/compile/expression_loop.rs
  src/picasso/src/compiler/compile/expression_null.rs
  src/picasso/src/compiler/compile/expression_string.rs
  src/picasso/src/compiler/compile/expression_suffix.rs
  src/picasso/src/compiler/compile/statement_break.rs
  src/picasso/src/compiler/compile/statement_class.rs
  src/picasso/src/compiler/compile/statement_constant_declaration.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/compile/statement_return.rs
  src/picasso/src/compiler/compile/statement_variable_assign.rs
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/exception/compiler_new.rs
  src/picasso/src/exception/syntax.rs
Due: picasso lint, picasso check, picasso test

feat: add codeowners
  CODEOWNERS
Due: none

tweak: dotdot roken to range
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lexer/token.rs
  src/picasso/src/parser/expression/index.rs
Due: picasso lint, picasso check, picasso test

feat: procesed feedback
  src/sanzio/src/lib.rs
  src/vinci/src/types/mod.rs
Due: vinci lint, sanzio lint, vinci check, sanzio check, vinci test, sanzio test

tweak: use Result instead of Option
  src/picasso/src/compiler/compile/expression_conditional.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/parser/exception.rs
  src/picasso/src/parser/expression/array.rs
  src/picasso/src/parser/expression/boolean.rs
  src/picasso/src/parser/expression/conditional.rs
  src/picasso/src/parser/expression/function.rs
  src/picasso/src/parser/expression/hashmap.rs
  src/picasso/src/parser/expression/identifier.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/expression/loops.rs
  src/picasso/src/parser/expression/null.rs
  src/picasso/src/parser/expression/number.rs
  src/picasso/src/parser/expression/string.rs
  src/picasso/src/parser/expression/suffix.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/assign.rs
  src/picasso/src/parser/statement/block.rs
  src/picasso/src/parser/statement/break_statement.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/statement/constant.rs
  src/picasso/src/parser/statement/expression.rs
  src/picasso/src/parser/statement/extends.rs
  src/picasso/src/parser/statement/import.rs
  src/picasso/src/parser/statement/return_statement.rs
  src/picasso/src/parser/statement/variable.rs
  tests/test_import_export.loop
Due: picasso lint, picasso check, picasso test

fix(picasso): multi level import and end2end test improvements
  .gitlab-ci.yml
  src/picasso/src/compiler/compile/statement_import.rs
  tests/end2end_test.py
  tests/loop-packages/deeper/deeper/five.loop
  tests/loop-packages/deeper/four.loop
  tests/loop-packages/one.loop
  tests/loop-packages/package.loop
  tests/loop-packages/three.loop
  tests/loop-packages/two.loop
  tests/test_import_export.loop
  tests/test_multi_level_import.loop
  tests/testlib.py
Due: picasso lint, picasso check, picasso test

fix(clippy): fixed string length import statement
  src/picasso/src/compiler/compile/statement_import.rs
Due: picasso lint, picasso check, picasso test

tweak(end2end): Updated readme with flags
  tests/README.md
Due: none

feat: use result from Parser
  src/lib/repl.rs
  src/lib/util.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/test/tests.rs
  src/picasso/src/exception/compiler.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lib.rs
  src/picasso/src/parser/exception.rs
  src/picasso/src/parser/expression/conditional.rs
  src/picasso/src/parser/expression/loops.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/statement/constant.rs
  src/picasso/src/parser/statement/variable.rs
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

chore: fmt/clippy
  src/lib/repl.rs
  src/main.rs
  src/picasso/src/compiler/compile/expression_conditional.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lib.rs
  src/picasso/src/parser/exception.rs
  src/picasso/src/parser/expression/conditional.rs
  src/picasso/src/parser/expression/hashmap.rs
  src/picasso/src/parser/expression/loops.rs
  src/picasso/src/parser/expression/mod.rs
  src/picasso/src/parser/expression/suffix.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/assign.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/statement/constant.rs
  src/picasso/src/parser/statement/import.rs
  src/picasso/src/parser/statement/variable.rs
Due: picasso lint, picasso check, picasso test

test: change to Option<Box<>>
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

tweak: remove SyntaxError as replaced by SyntaxException
  src/picasso/src/exception/mod.rs
  src/picasso/src/exception/syntax.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lexer/token.rs
  src/picasso/src/parser/expression/function.rs
  src/picasso/src/parser/expression/loops.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/class.rs
  src/picasso/src/parser/statement/constant.rs
  src/picasso/src/parser/statement/variable.rs
Due: picasso lint, picasso check, picasso test

tweak: return proper error code
  src/lib/repl.rs
  src/main.rs
Due: none

tweak: proper cursor location for errors
  src/picasso/src/parser/mod.rs
Due: picasso lint, picasso check, picasso test

LOOP-201: decide ADR
  docs/adr/approved/naming-convention.md
Due: none

tweak: linting
  src/picasso/src/parser/mod.rs
Due: picasso lint, picasso check, picasso test

feat(vinci): added docs for instructions
  src/vinci/src/ast/instructions/mod.rs
Due: vinci lint, vinci check, vinci test

feat(end2end): tests for function types
  tests/end2end_test.py
  tests/test_array_extension_method.loop
  tests/test_array_remove.loop
  tests/test_function_types.loop
  tests/test_if_expression_return.loop
Due: none

feat(loop): --lua and --arc flags exist
  Cargo.lock
  Cargo.toml
  src/lib/config/mod.rs
  src/lib/exception/flag.rs
  src/lib/flags/arc.rs
  src/lib/flags/help.rs
  src/lib/flags/lua.rs
  src/lib/flags/mod.rs
  src/lib/util.rs
  src/sanzio/src/lib.rs
Due: sanzio lint, sanzio check, sanzio test

fix(clippy): removed import
  src/lib/exception/flag.rs
  src/lib/flags/mod.rs
Due: none

feat: .len method
  src/picasso/src/compiler/compile/expression_call.rs
  tests/end2end_test.py
  tests/test_array_length.loop
  tests/test_string_length.loop
Due: picasso lint, picasso check, picasso test

fix: clippt
  src/picasso/src/compiler/compile/expression_call.rs
Due: picasso lint, picasso check, picasso test

feat: add support for location based compiler exceptions
  src/picasso/src/compiler/compile/expression_call.rs
  src/picasso/src/compiler/compile/expression_function.rs
  src/picasso/src/compiler/compile/expression_identifier.rs
  src/picasso/src/compiler/compile/expression_index.rs
  src/picasso/src/compiler/compile/statement_extend.rs
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/compile/statement_return.rs
  src/picasso/src/compiler/compile/statement_variable_assign.rs
  src/picasso/src/compiler/compile/statement_variable_declaration.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/compiler/test/tests.rs
  src/picasso/src/exception/compiler.rs
  src/picasso/src/lexer/mod.rs
  src/picasso/src/lib.rs
  src/picasso/src/parser/expression/array.rs
  src/picasso/src/parser/expression/function.rs
  src/picasso/src/parser/expression/identifier.rs
  src/picasso/src/parser/expression/index.rs
  src/picasso/src/parser/expression/mod.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/program.rs
  src/picasso/src/parser/statement/assign.rs
  src/picasso/src/parser/statement/constant.rs
  src/picasso/src/parser/statement/extends.rs
  src/picasso/src/parser/statement/variable.rs
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/test/tests.rs
  src/picasso/src/parser/types.rs
Due: picasso lint, picasso check, picasso test

chore: clippy/fmt
  src/picasso/src/compiler/compile/statement_import.rs
  src/picasso/src/compiler/mod.rs
  src/picasso/src/exception/compiler.rs
  src/picasso/src/lib.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/assign.rs
  src/picasso/src/parser/types.rs
Due: picasso lint, picasso check, picasso test

fix(tests): tests updated for location
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/statement/variable.rs
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

chore: format
  src/picasso/src/compiler/mod.rs
  src/picasso/src/parser/mod.rs
  src/picasso/src/parser/statement/variable.rs
  src/picasso/src/parser/test/test_helper.rs
  src/picasso/src/parser/test/tests.rs
Due: picasso lint, picasso check, picasso test

tweak: removed the stylua depedency and no longer formatting lua ouput
  Cargo.lock
  Cargo.toml
  src/lib/util.rs
Due: none

feat(picasso): type safe .len() call
  src/picasso/src/compiler/compile/expression_call.rs
Due: picasso lint, picasso check, picasso test

feat: updated readme
  README.md
Due: none

fix: removed rust version in reademe
  README.md
Due: none
